font-lg = 2.6rem
font-md = 1.62rem
font-sm = 1.3rem
font-xs = 1rem
line-height = 1.62
gutter-lg = 2.6rem
gutter-md = 1rem
gutter-sm = 0.62rem
gutter-smh = 0.31rem

family-default = 'Helvetica Neue', Helvetica, sans-serif
family-lg = 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif

*
	box-sizing border-box
html
	font-size 62.5%
html, body
	margin 0
	padding 0
body
	font font-md/line-height family-default
	flex-direction column
	display flex
main
	flex 1
	flex-direction column
header, article
	justify-content center
	flex 1
	display flex
	flex 1
header
	background-color #333
	color #fff
	padding gutter-lg 0
	input
		flex 1
		border none
		justify-content center
		align-items center
		font-size family-default
		font-size font-lg
		line-height
		padding gutter-sm gutter-smh
article
	padding gutter-sm 0
.inner
	flex 1
	max-width 1024px
	display flex
	padding 0 gutter-md
ul
	display flex
	flex 1
	flex-direction column
	margin 0
	padding 0
	list-style none
li
	flex 1
	display flex
	margin gutter-smh 0
	padding gutter-sm
	background-color #eee
	&:hover
		background-color #333
		color #fff
	a
		color inherit
	h3
		flex 1
		font inherit
		margin 0
		padding 0
	.status
		color #666